
.layout{
  border: 2px solid rgb(15, 51, 134);
}
.heading{
  padding-top:10px;
    font-weight: bold;
    font-size:30px;
   color: #2d2a8d;
   padding-bottom: 15px;
   padding-left: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fefefe;
 
}

.App_todo {
  height: 28rem;
  width: 28rem;
  position: absolute;
  left: 5%;
}

.App_input_wrapper{
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 20px;
  height: 2.5rem;
   background-color: #efeff4;
   border-radius: 15px;
   border: 1px solid ;
   overflow: hidden;
}

.App_input {
  flex: 1;
  outline: none;
  border: none;
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(7, 7, 7);
}

.App_input_button{
  width: 3rem;
  height: 100%;
  background-color: #2d2a8d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.App_todo_list{
  background-color: #ffffff;
  height: 100%;
  margin-top: 2rem;
  overflow: auto;
}

.empty{
  color: white;
  text-align: center;
  margin-top: 6rem;
  font-size: 1.5rem;
}

.navbar {
  background-color: #025287;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.profile-photo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.navbar-links{
  display: flex;
  gap: 50px;
  
}

.nav-links-text{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button_main{
  position: absolute;
  border-radius: 50%;
  font-size: 30px;
  background-color: #025287;
  color: white;
  bottom: 40px;
  right: 40px;
}






